@import "tailwindcss";

:root {
  --primary-100: var(--color-indigo-100);
  --primary-200: var(--color-indigo-200);
  --primary-300: var(--color-indigo-300);
  --primary-400: var(--color-indigo-400);

  --foreground: var(--color-slate-800);

  --btn: var(--color-indigo-600);
  --btn-hover: var(--color-indigo-700);
}

@theme inline {
  --color-btn: var(--btn);
  --color-btn-hover: var(--btn-hover);
  --color-btn-text: var(--color-white);

  --color-fg: var(--foreground);

  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400); 

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
      --primary-100: var(--color-slate-500);
      --primary-200: var(--color-slate-600);
      --primary-300: var(--color-slate-700);
      --primary-400: var(--color-slate-800);

      --btn: var(--color-slate-900);
      --btn-hover: var(--color-slate-950);

      --foreground: var(--color-white);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

input, textarea, select {
    outline: none;
}
